  <main>
    <p class="notice"><%= notice %></p>
  </main>
  
  <div class="container">
    <div class="row">
      <h1>Welcome to
        
          <i class="fa-solid fa-book"></i>
        Bookers!!
      </h1>
    </div>
    
    <div class="row">
      <h6>In 
        <i class="fa-solid fa-book"></i>
        Bookers, </h6>
    </div>
    
    <div class="row">
      <p>you can share and exchange your opinions, inpressions, and emotions</p><br>
      <p>about various books!</p>
    </div>

    <div class="text-center">
      <%= link_to new_user_session_path, class: "btn btn-info btn-sm btn-block" do %>
       Log in
      <% end %>
    </div>

    <div class="text-center">
      <%= link_to new_user_registration_path, class: "btn btn-success btn-sm btn-block" do %>
      Sign up
      <% end %>
    </div>
    
  </div>